:root { 
  --background-color: white;
  --background-light: white;
  --primary-color: #ff6347;
  --secondary-color: #fff5f0;
  --font-main: 'Poppins', sans-serif;
  --border-radius: 12px;
  --text-color: black;
  --font-size: 16px;
  --animation-speed: 1;
  --shadow-color: black;
}

@function getAnimationDuration($duration: number){
    @return calc(var(--animation-speed)* 0.35s) ease-in-out;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    padding-top: 5%;
}
a{
    text-decoration: none;
    margin-left: 12px;
}
.navbar {
  margin-bottom: 1px;
  height: 55px;
  box-shadow: 0 1px 10px 1px rgb(163, 163, 163);
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 99;
  top: 0;

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    padding: 0 15px;
  }

  .nav-links {
    margin-left: 1em;
    color: lightblue;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      height: 3px;
      width: 100%;
      background-color: blue;
      position: absolute;
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s;
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &.active {
      color: blue;
      font-weight: bold;
    }
  }

  .sidebar {
    height: 26px;
    width: 30px;
    display: none;
    cursor: pointer;
    position: relative;

    .bar {
      height: 5px;
      width: 100%;
      background-color: black;
      border-radius: 5px;
      transition: transform 0.4s;
      position: absolute;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }

    &.active {
      .bar {
        transform-origin: center;
        top: 50%;

        &:nth-child(1) {
          transform: translate(0, -50%) scale(1) rotate(45deg);
        }
        &:nth-child(2) {
          transform: scaleX(0) translateY(-50%);
        }
        &:nth-child(3) {
          transform: translate(0, -50%) scale(1) rotate(-45deg);
        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .main {
    padding: 1vw 1vw;
  }

  .section {
    flex-direction: column;

    .colum1 {
      width: 100%;
      margin-bottom: 2vw;
    }

    .title {
      font-size: 1.5em;
    }

    .info {
      font-size: 0.95em;
      line-height: 1.4;
    }

    .btn {
      font-size: 1.1em;
      padding: 0.6em 1.2em;
    }
  }

  .section.main {
    .gallary {
      grid-template-columns: repeat(2, 1fr);
      gap: 3vw;
    }
  }
}



.contianer{
    padding-inline: 15.1vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 808px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar{
            display: block;
        }
    }
    .section{
        .column1{
            
            width: 5%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
        // .gallary{
        //     width: 100%;
        // }
     }
    .chief-card{
        box-shadow: 0 5px 10px rgb(134, 134, 134);
    }
    .container{
        padding-inline: 12vw;
    }
     
    
}
// @media screen and (max-width: 1280px){
//     .container{
//         padding-inline: 1vw;
//     }
//     .colum1{
//         width: 80%;
//     }
//     body{
//       margin: 100px;
//     }
// }
// @media screen and (max-width: 1050px){
//     .container{
//         padding-inline: 12vw;
//     }
// }
// @media screen and (max-width: 480px){
//     .container{
//         padding-inline: 3vw;
//     }
// }

@keyframes slideInLeft{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
// SIDEBAR

.sidemenu{
    position: fixed;
    animation: getAnimationDuration(1s) slideInLeft;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.1), 2px 0 5px black;
    .sidebar-link{
        display: block;
        padding: .5em 1em ;
        border-left: .4em solid transparent;
        margin-bottom: 1em;
        color: blue;
        font-size: 1em;
        transform: translateX(-100%);
        animation: getAnimationDuration(.3s) slideInLeft forwards;
        // @for $i from 1 through 3 {
        //     // &:nth-child(#{$i}){
        //     //     // animation-delay: #{$i + .1}s;
        //     //     // animation: getAnimationDuration( $i);
        //     // }
        // }
        &:hover{
            border-left-color: blue;
            background-color: rgba(0,0,0,0.1);
            transition: 1.4s;
        }
        // &.active{
        //     border-left-color: blue;
        // }
        svg{
            width: 1em;
            margin-right: 1.4em;

        }

    }
}

// SECTION ONE//
.main{
    padding-block: 1vw;
    padding-left: .1vw;
    padding-right: .1vw;
}


.section{
    margin-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .title{
        color: black;
        margin-bottom: .51em;
        font-size: 2em;
    }
    .info{
        color: rgb(58, 57, 57);
        margin-bottom: .51em;
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.2;
    }
    .colum1{
        width: 50%;
    }
}

.btn{ 
    border-radius: .41em;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    padding: .5em 1em;
    // text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 1em;
    letter-spacing: 1px;
    box-shadow: 0 3px 6px rgb(102, 102, 102);
    cursor: pointer;
    &:hover{
        box-shadow: 0 3px 6px rgb(0, 0, 0);
    }
}
.foodimage{
    margin-left: 4vw;
    // background-color: red;
    height: 0;
    width: 100%;
    // padding-top: 100%;
    border-radius: 1vw;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

}
@keyframes popOut{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.section.main{
    .gallary{
        display: grid;
        gap: 1.2vw;
        grid-template-columns: repeat(3,1fr);
        .foodimage{
            border-radius: 6px;
            overflow: hidden;
            transform: scale(.1);
            opacity: 0;
            animation: getAnimationDuration(1s) popOut forwards;
            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(4){
                animation-delay: .3s;
            }
            &:nth-child(5){
                animation-delay: .4s;
            }
            &:nth-child(6){
                animation-delay: .5s;
            }
            &:nth-child(7){
                animation-delay: .6s;
            }
            &:nth-child(8){
                animation-delay: .7s;
            }
            &:nth-child(9){
                animation-delay: .8s;
            }
        }
    }
}

// SECTION 2//



@keyframes slideinright{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.section.maintwo{
    .column1.image{
        img{
            margin-left: 10.5em;
            margin-right: 5.5em;
            width: 20em;
            height: 20em;
            animation: getAnimationDuration(.15) popOut forwards;
        }   
    }
    .column1.typo{
        padding-left: 1.5em;
        .skillitems{
            font-size: larger;
            border-left: .25em solid blue;
            margin-bottom: .5em;
            padding: .25em 10px .0125em;
            color: rgb(46, 46, 46);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideinright forwards;
            @for $i from 1 through 7{
                &:nth-child(#{$i}){
                    animation-delay: #{$i - .01s};
                }
            }
        }
        .btn{
            margin-top: 1.531em;
            font-size: 1.3em;
        }

    }
}

// QUOTE//

.section.quote{
    display: block;
    .text{
        font-size: 1.2em;
        line-height: 1.2;
        color: rgb(3, 3, 3);
    }
    .author{
        color: rgb(68, 67, 67);
        text-align: right;
        margin-top: 12px;
    }
}
span{
    color: red;
    font-size: 3em;
}

// CHIEFS//

.section.chef{
    display: block;
}
.chief-card{
    display: flex;
    height: 120px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    img{
        height: 100%;
        width: 120px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgb(49, 49, 49);
    }
    .cardinfo{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: .5em;
        padding-left: 1em;
        .chief-name{
            font-size: 1.5em;
            font-weight: bold;
            color: rgb(2, 1, 49);
        }
        .chief-recipe .chief-cuisine{
            font-size: 1em;
            color: rgb(2, 1, 49);
        }
        .chief-icon{
            font-size: 1.2em;
            svg{
                margin-right: .51em;
                
                &:nth-child(1){
                    color: rgb(2, 2, 104);
                }
                &:nth-child(2){
                    color: rgb(18, 1, 255);
                }
                &:nth-child(3){
                    color: rgb(141, 0, 87);
                }
            }
        }
    }
    
    
}

.topchiefs{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px, 1fr));
    gap: 1.3em;
}


.footer{
    background-color: black;
    color: white;
    // padding-block: 3em;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    .footer-section{
        p{
            opacity: 0.8;
            margin-bottom: .5em;
            text-align: center;
        }
        p.title{
            opacity: 1;
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 1em;
        }
    }

}



// @media screen and (max-width: 1008px) {
//   .section.maintwo {
//     .column1.image img {
//       margin-left: 4em;
//       margin-right: 4em;
//       width: 18em;
//       height: 18em;
//     }

//     .column1.typo {
//       padding-left: 1em;

//       .skillitems {
//         font-size: 1em;
//       }

//       .btn {
//         font-size: 1.1em;
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .section.maintwo {
//     flex-direction: column;
//     align-items: center;
//     text-align: center;

//     .column1 {
//       width: 100%;
//       margin-bottom: 2em;
//     }

//     .column1.image img {
//       margin: 0 auto;
//       width: 80%;
//       height: auto;
//     }

//     .column1.typo {
//       padding: 0 1.2em;

//       .skillitems {
//         font-size: 1em;
//         padding: 0.4em 1em;
//         text-align: left;
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 400px;
//       }

//       .btn {
//         width: 100%;
//         max-width: 300px;
//         margin: 1em auto 0;
//         font-size: 1.1em;
//       }
//     }
//   }
// }

// RECIPES//

@media screen and (max-width: 899px) {
  .previous-searches{
    margin-left: 4em;
    display: block;
    h2{
      margin-top: 2em;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 1em;
    }
    .previous-searches-container{
      .search-item{
        background-color: rgb(236, 4, 159);
        display: inline-block;
        padding: .5em 1em;
        margin: 0 1.1em 1em 0;
        color: white;
        border-radius: 2em;
        box-shadow: 0 3px 11px black;
        font-weight: bold;
        transform: translateX(100%);
        opacity: 0;
        animation: getAnimationDuration(.5s) slideinright forwards;

      }
    }
    
  }
}
.search-box{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // background-color:  rgb(236, 4, 159);
      height: 35px;
      input, .btn{
        height: 35px;
        // margin-top: 0;
        border-radius: 0;
        border: 1px solid rgb(68, 68, 68);
        // border-radius: 10px  0  10px 10px;
        
      }
      .btn{
        margin-top: 20px;
        background-color:  rgb(236, 4, 159);
        border: none;
        margin-right: 5em;
      }
      input{
        margin-top: 20px;
        width: 250px;
        padding: 0 0.5em;
        outline: none;
      }
}
@media screen and (min-width: 900px){
  .previous-searches{
    margin-left: 6em;
    display: block;
    h2{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 1em;
      margin-top: 2em;
    }
    .previous-searches-container{
      .search-item{
        background-color: rgb(236, 4, 159);
        display: inline-block;
        padding: .5em 1em;
        margin: 0 1.1em 1em 0;
        color: white;
        border-radius: 2em;
        box-shadow: 0 3px 11px black;
        font-weight: bold;
        animation: getAnimationDuration(.5s) slideinright;

      }
    }
    
  }
}
.recipes-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));
  gap: 1.5em;
  padding: 4.3em;
}
.recipe-card{
  // width: 10%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(66, 66, 66);
  // overflow: hidden;
  .recipe-info{
    padding: 15px;
  }
  img{
    // align-items: center;
    margin-left: -1.8em;
  }
  .foodimage{
    z-index: -1;
  }
  .author-img{
    margin-left: .5em;
    height: 60px;
    margin-top: -3em;
    width: 60px;
    z-index: 2;
    border-color: blue;
    border-radius: 50%;
    // object-fit: cover;
  }
  .recipe-title{
    font-size: 1.1em;
    font-weight: 543;
    margin-bottom: .5em;
    margin-top: .25em;
  }
  .recipe-desc{
    color: rgb(58, 58, 58);
    font-size: .5em;
    letter-spacing: 1px;
  }
  .view-btn{
    font-size: .8991em;
    font-weight: bold;
    color: rgb(228, 25, 143);
    margin-top: .75em;
    display: inline-block;
    margin-left: -.1px;
  }
}


// SETTINGS//
.d-block{
  display: block;
  margin-top: 3em;
  margin-left: 5em;
  h2{
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  .opt-container{
    box-shadow: 0 5px 10px rgb(126, 126, 126);
    padding: 1.4em;
    border-radius: .1em;
    border-left: .5em solid rgb(235, 0, 90);
    margin-right: 3em;
    margin-bottom: 2em;
    display: flex;
    gap: 1.6em;
    .opt{
      height: 4em;
      width: 4em;
      box-shadow: 0 3px 10px rgb(66, 66, 66);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.light{
        background-color: white;
      }
      &.dark{
        background-color: rgb(22, 22, 22);
      }
      .check{
        // margin-bottom: -12px;
        align-items: center;
        // padding-top: .21em;
        height: 1.5em;
        width: 1.5em;
        background-color: rgb(235, 0, 90);
        color: rgb(255, 255, 255);
        border-radius: 40%;
        text-align: center;
        box-shadow: 0 3px 10px rgb(141, 141, 141);
        svg{
          height: 1.4em;
          width: 1.4em;
        }
      }
    }
  }
}











